/* .CartMainContainer{
    display: flex;
    justify-content:center;

}


.cart-container {
    background-color: #F8F8F8;
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: start;
    width: 80%;
    margin-top: 8vh;
}
  
  .cart-item {
    margin-left: 10vh;
    justify-content:center;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 10vh;
    gap: 10vh;
    margin-bottom: 10vh;
  }
  
  .product-image {
    max-width: 100px;
    margin-right: 20px;
  }
  
  .product-details {
    justify-content:center;
    align-items: center;
    display: flex;
    gap: 20vh;
    flex-direction: row;
  }
  
  .total-price {
    font-weight: bold;
    text-align: right;
  }
   */


.mainCartContainer {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
    
}

.headingTitles {
    color: #302F2F;
    font-size: 16px;
    font-weight: 800;
}

.cart-container {
    background-color: #F8F8F8;
    padding: 40px;
    width: 75%;
    
    border-radius: 10px;

}

.cart-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    
}

.cart-table th,
.cart-table td {
    padding: 10px;
    text-align: center;
}

.product-image {
  margin-top: -5vh;
  margin-left: -10vh;
  width: 200px;
  height: 184px;
}



  .product-image-cell{
    padding: 0%;
  
  }




  /* _____ */


.totalPrice{
  display: flex;
  justify-content: end;
  flex-direction: column;
    align-items: end;
}


/* CSS */
.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: #ff3a04;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-5:hover,
.button-5:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}
.quantity-button:hover{
  background-color: #F8F8F8;
}

.button-5:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}



.quantity-button{
  display: flex;
  background-color: #F8F8F8;
  border: none;
  flex-direction: row;
  color:black;
  padding: 0%;
  width: 20px;

}

.quantityButtons{
  display: flex;
  justify-content: center;
    align-items: center;
}