

.mainNavbar {

    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #302F2F;
    height: 15vh;
    border-bottom: 1px solid #E1E1E1;
    opacity: 1;

  }
  
  .navbarItems {
    margin-left: 25px;
    margin-top: 6px;
    font-size: 1.6rem;
    font-weight: bold; 
   
  }
  
  .icon-container {
    display: flex;
    margin-top: 6px;
    gap: 30px;
    align-items: center;
  }
  
  .icon {
    cursor: pointer;
    font-size: 1.5rem;
    right:60px;
    position: relative; /* Add relative positioning to the icon */
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%; /* Position the dropdown below the icon */
    right: 0;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateX(calc(100% - 100px)); /* Adjust value as needed */
  }
  
  .dropdown-menu > div {
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .dropdown-menu > div:hover {
    background-color: #f0f0f0;
    border-radius: 5px;

  }
  
  .custom-link {
    color: #707070; /* Replace 'your-custom-color' with your desired color code */
    text-decoration: none;
  }
  
  .custom-link:hover {

    color: #FF4F04;  
  border-bottom:2px solid
   #FF4F04;}


   .activelink {
    color: #FF4F04;  
    border-bottom:2px solid
     #FF4F04;
  }