/* ResetPassword.css */

.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensure the container covers the full viewport height */
    margin: 0;
    background-image: url('Group 20642.png'); /* Replace with your background image URL */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Keeps the background image fixed while scrolling */
  }
  
  .reset-password-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  /* Style for the message paragraph */
  .message {
    font-weight: bold;
    color: #ff4f04;
    margin-top: 10px;
  }
  
  /* Style for the password input fields */
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Style for the Reset Password button */
  button {
    background-color: #ff4f04;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px; /* Adjust the padding to make the button smaller */
    cursor: pointer;
    font-size: 12px; /* Adjust the font size to make the text smaller */
  }
  
  /* Style for the heading */
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  /* Style for introductory text */
  p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  /* Style for the button on hover */
  button:hover {
    background-color: #e64000;
  }
  